

.body{
    background-color: #a3c40063;
    scrollbar-color: blue;
    height: 1300px;
}

.body2{
    background-color: #a3c40063;
    scrollbar-color: blue;
    height: 1000px;
}

.navbar{
    height:100px;
    background-color:#1d52ff;
    border-radius:13px;
    text-align: center;
    font-size: 85px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 8px;
    border-color: rgb(0, 0, 0);
    border-style: double;
}

.descrizione{
    background-color: #565656;
    background-size: 105px;
    margin: 15px;
    color: aliceblue;
    padding-left: 25px;
    padding-top: 0.1px;
    padding-right: 25px;
    padding-bottom: 0.1px;
    font-size: 25px;
    text-align: justify;
    margin-right: 630px;
    align-content: left;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    border: 8px;
    border-color: rgb(0, 0, 0);
    border-style: double;
}

.immagineme{
    margin: 15px;
}

#products{
    width: 99%;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    position: absolute;
    top: 220px;
}
.product{
    width: 500px;
    aspect-ratio: 3 / 4;
    border-radius: 10px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-bottom: 30px;
}
.productInfo{
    width:100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 80%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.productInfo:hover{
    opacity: 1;
}
.productInfo:hover .productText, .productInfo:hover .productButton {
    transform: translateY(0);
}

.productText{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 0;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease-in-out;
    transform: translateY(-20px);
}
.productButton{
    width: fit-content;
    padding: 7px 20px;
    margin: 20% auto;
    border: solid white 2px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    transform: translateY(-20px);
}
.productButton:hover{
    background-color: #323232;
    border: solid #323232 2px;
}
a{
    text-decoration: none;
}

.footer{
    background-color: #001455;
    height:300px;
    border-radius:10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 6px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    position: relative;
    color: aliceblue;
    top: 900px;
}

.footer2{
    background-color: #001455;
    height:300px;
    border-radius:10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 6px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    position: relative;
    color: aliceblue;
    top: 0px;
}

.Sfooter{
    font-size: 20px;
    position: relative;
    top: -15px;
}

.Social{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 2.5rem;
    align-items: center;
    color: #d6d6d6;
    position: relative;
    text-decoration: none;
    list-style: none;
    top: 20px;
}

@media screen and (max-width: 450px){
    #products{
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    .product{
        width: 90%;
    }
}

@media screen and (max-width: 200px){
    .productText{
        font-size: 15px;
    }
    .productButton{
        font-size: 10px;
    }
}

@media (hover:none){
    .productInfo{
        opacity: 1;
    }
    .productButton, .productText{
        transform: translateY(0);
    }
}

::-webkit-scrollbar{
    width: 10px;
    position: relative;

}

::-webkit-scrollbar-track{
    background: rgb(235, 233, 233);
}

::-webkit-scrollbar-thumb{
    background: rgb(0, 153, 255);
    border-radius: 4px;
    border: solid black 2px;
    
}

/*TABLET*/
@media only screen and (max-width: 1000px) {
    :root{
        /*Font size*/
        --mega: 85px;
        --big: 28px;
        --medium: 25px;
        --small: 18px;
        --mini: 18px;
    }
    .navbar{
        font-size: 30px;
        height: 40px;
 }

}

/*TELEFONO */
@media only screen and (max-width: 450px) {
    :root{
         /*Font size*/
         --mega: 70px;
         --big: 22px;
         --medium: 20px;
         --small: 16px;
         --mini: 13px;
    }
    .navbar{
        font-size: 35px;
        height: 40px;
    }

    .immagineme{
        height: auto;
        max-width:10px;
    }

    #products{
        display: grid;
        align-items: center;
        position: relative;
        top: 20px;
        margin-bottom: 10px;
    }

    .footer{
        top: 100px;
        height: 650px;
    }

    .footer2{
        top: 50px;
        height: 650px;
    }
    
    .Social{
        display: grid;
        align-items: center;
        position: relative;
        grid-gap: 200px;
        top: -30px;
    }

    .Social2{
        display: grid;
        align-items: center;
        position: relative;
        grid-gap: 200px;
        top: -30px;
    }

    .SInstagram{
        position: relative;
        top: 100px;
    }
    
    .STikTok{
        position:relative;
        top: -100px
    }

    .SFacebook{
        position: relative;
        top: -100px;
    }

    .SInstagram2{
        position: relative;
        top: 60px;
    }
    
    .STikTok2{
        position:relative;
        top: -50px
    }

    .SFacebook2{
        position: relative;
        top: -150px;
    }

    .descrizione{
        width: 225px;
        height: 3600px;
        top: -100px;
        margin-left: 7px;
        text-align: justify;
    }

    .Desktext{
        position: relative;
    }

    .immagineme{
    position: absolute;
    display: block;
    align-items: center;
    top: 3400px;
    left: 70px;
    }

}
